* {
  padding: 0;
  box-sizing: border-box;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form h2 {
  font-size: 2.5rem;
}

.navUp {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.navUp p {
  text-align: center;
  margin-left: 6rem;
  margin-top: -1rem;
  font-size: 1.3rem;
  opacity: 0.7;
  cursor: pointer;
}

.inputBox {
  position: relative;
  width: 100%;
}

.inputBox input,
.inputBox select {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  color: white;
  letter-spacing: 0.1em;
  background-color: black;
}

.inputBox input:focus,
.inputBox input:valid,
.inputBox select:focus,
.inputBox select:valid {
  border-bottom: 2px solid tomato;
}

button {
  background: rgb(14, 4, 2);
  border: none;
  padding: 15px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-top: 20px;
}

.inputBox label span {
  display: inline-flex;
  letter-spacing: 0.05em;
  transition: 0.3s ease-in-out;
}

.inputBox input:focus ~ label span,
.inputBox input:valid ~ label span,
.inputBox select:focus ~ label span,
.inputBox select:valid ~ label span {
  color: tomato;
  letter-spacing: 0.15em;
  transform: translateY(-25px);
}

.register-form form h2 {
  margin-bottom: 3rem;
  color: tomato;
}

@media (max-width: 768px) {
  .register-form {
    padding: 30px 20px;
  }

  .inputBox input {
    margin-bottom: 12px;
  }

  button {
    padding: 12px;
    font-size: 1rem;
  }

  .inputBox input:focus ~ label span,
  .inputBox input:valid ~ label span,
  .inputBox select:focus ~ label span,
  .inputBox select:valid ~ label span {
    color: tomato;
    letter-spacing: 0.15em;
    transform: translateY(-20px);
  }

  .nameContainer {
    flex-direction: column;
  }

  .yearCodeContainer {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .register-form {
    padding: 20px 10px;
  }

  .inputBox {
    margin-bottom: 10px;
  }

  button {
    padding: 10px;
    font-size: 1rem;
  }

  .inputBox input:focus ~ label span,
  .inputBox input:valid ~ label span,
  .inputBox select:focus ~ label span,
  .inputBox select:valid ~ label span {
    color: tomato;
    letter-spacing: 0.15em;
    transform: translateY(-20px);
  }

  .nameContainer {
    flex-direction: column;
  }

  .yearCodeContainer {
    flex-direction: column;
  }
}

.nameContainer {
  display: flex;
  gap: 0; /* Set gap to 0 to remove the margin */
}

.yearCodeContainer {
  display: flex;
  gap: 20px;
}

.no-margin {
  margin: 0; /* Class to remove margin */
}

@media (max-width: 768px) {
  .nameContainer {
    flex-direction: column;
  }

  .yearCodeContainer {
    flex-direction: column;
  }
}
