.admin-login {
    text-align: center;
    margin-top: 50px;
}

.admin-login form {
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
}

.admin-login div {
    margin-bottom: 15px;
}

.admin-login label {
    color: black;
    display: block;
    margin-bottom: 5px;
}


.admin-login input {
    color: black;
    border: solid black 1px;
    border-radius: 2px;
    width: 100%;
    padding: 6%;
    box-sizing: border-box;
}

.admin-login button {
    padding: 10px 15px;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.admin-login button:hover {
    background-color: #1976D2;
}

.admin-login .error {
    color: red;
    margin-top: 10px;
}